.link {
  text-decoration: none;
  color: var(--preto);
  transition: all 0.3s ease;
  display: inline-block;
}

.link:hover {
  transform: scale(1.1);
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}